.head
  %h1
    = link_to 'Campaigns', campaigns_path
    &gt;
    = link_to @campaign.product_name, @campaign
    &gt;
    Redeems

.people
  - @redeems.each do |redeem|
    .profile
      = image_tag "https://graph.facebook.com/#{redeem.user.facebook_id}/picture?width=80&height=80"
      .name= redeem.user.name
      .info
        = succeed ', ' do
          = redeem.user.age
        = redeem.user.gender
      .friends
        = redeem.user.facebook_friends_count
        friends
