= form_for @campaign, :html => {:multipart => true} do |f|
  - if @campaign.errors.any?
    #error_explanation
      %h2= "#{pluralize(@campaign.errors.count, "error")} prohibited this campaign from being saved:"
      %ul
        - @campaign.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :product_name
    = f.text_field :product_name, placeholder: "eg. Bundaberg Ginger Beer"
  .field
    = f.label :barcode
    = f.text_field :barcode, placeholder: "eg. 9311493000219"
  -# TODO: extract form image field into a helper
  .field
    = f.label :small_image
    = f.hidden_field :retained_small_image
    = f.file_field :small_image
    .field-tip
      .content
        Resolution should be
        = succeed ', ' do
          %em 50x50
        larger images will be downsampled.
  .field
    .product-image-stencil
      = image_tag @campaign.small_image.url if @campaign.small_image_uid
  .field
    = f.label :splash_image
    = f.hidden_field :retained_splash_image
    = f.file_field :splash_image
    .field-tip
      .content
        Resolution should be
        = succeed ', ' do
          %em 640x1136
        larger images will be downsampled/cropped.
  .field
    .iphone-stencil
      = image_tag @campaign.splash_image.convert('-resize 25% -crop 160x240+0+44').url if @campaign.splash_image_uid
  .field
    = f.label :active
    = f.check_box :active
  .actions
    %button{type: 'submit'}
      Save
