= form_for @campaign, :html => {:multipart => true} do |f|
  - if @campaign.errors.any?
    #error_explanation
      %h2= "#{pluralize(@campaign.errors.count, "error")} prohibited this campaign from being saved:"
      %ul
        - @campaign.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :product_name
    = f.text_field :product_name
  .field
    = f.label :barcode
    = f.text_field :barcode
  -# TODO: extract form image field into a helper
  .field
    = image_tag @campaign.small_image.url if @campaign.small_image_uid
  .field
    = f.label :small_image
    = f.hidden_field :retained_small_image
    = f.file_field :small_image
  .field
    = f.label :small_image_url
    = f.text_field :small_image_url
  .field
    = image_tag @campaign.splash_image.url if @campaign.splash_image_uid
  .field
    = f.label :splash_image
    = f.hidden_field :retained_splash_image
    = f.file_field :splash_image
  .field
    = f.label :splash_image_url
    = f.text_field :splash_image_url
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit 'Save'
