.head
  %h1 Campaigns
  .add= link_to 'New', new_campaign_path, :class => 'action'

%table
  - @campaigns.each do |campaign|
    %tr
      %td.image= image_tag campaign.small_image.url
      %td.title= link_to campaign.product_name, campaign
      %td.status= campaign.status_caption
      %td.count
        = link_to "#" do
          %span.scan-count= campaign.redeems.count
          = 'redeem'.pluralize campaign.redeems.count
      %td.action= link_to 'Edit', edit_campaign_path(campaign)
      %td.action= link_to 'Delete', campaign, method: :delete, data: { confirm: 'Are you sure?' }
