.head
  %h1
    = link_to 'Campaigns', campaigns_path
    &gt;
    = @campaign.product_name
  .add= link_to 'Edit', edit_campaign_path(@campaign), :class => 'action'

%p#notice= notice

.property
  .label Product name:
  = @campaign.product_name
.property
  .label Barcode:
  = @campaign.barcode
.property
  .label Small image:
  .product-image-stencil
    = image_tag @campaign.small_image.url
.property
  .label Splash image:
  .iphone-stencil
    = image_tag @campaign.splash_image.convert('-resize 25% -crop 160x240+0+44').url
.property
  .label Active:
  = @campaign.active
