%p#notice= notice

%p
  %b Brand owner:
  = @campaign.brand_owner
%p
  %b Product name:
  = @campaign.product_name
%p
  %b Barcode:
  = @campaign.barcode
%p
  %b Small image:
  = @campaign.small_image
%p
  %b Splash image:
  = @campaign.splash_image
%p
  %b Active:
  = @campaign.active

= link_to 'Edit', edit_campaign_path(@campaign)
\|
= link_to 'Back', campaigns_path
