%p#notice= notice

%p
  %b Product name:
  = @campaign.product_name
%p
  %b Barcode:
  = @campaign.barcode
%p
  %b Small image:
  = image_tag @campaign.small_image.url
%p
  %b Splash image:
  = image_tag @campaign.splash_image.url
%p
  %b Active:
  = @campaign.active

= link_to 'Edit', edit_campaign_path(@campaign)
\|
= link_to 'Back', campaigns_path
