!!! 5
%html
  %head
    %title AirSample
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header
      .logo= link_to "AirSample", root_path
    .page
      = yield
